<div class="section">
  <h2>Fundamental Metrics</h2>
  
  {{#if fundamentalMetrics.majorIndices.length}}
    <div class="subsection">
      <h3>Major Indices</h3>
      <div class="stocks-grid">
        {{#each fundamentalMetrics.majorIndices}}
          {{> stock-card}}
        {{/each}}
      </div>
    </div>
  {{/if}}
  
  {{#if fundamentalMetrics.topHoldings.length}}
    <div class="subsection">
      <h3>Top Index Holdings</h3>
      <div class="stocks-grid">
        {{#each fundamentalMetrics.topHoldings}}
          {{> stock-card}}
        {{/each}}
      </div>
    </div>
  {{/if}}
  
  {{#if fundamentalMetrics.otherStocks.length}}
    <div class="subsection">
      <h3>Other Stocks</h3>
      <div class="stocks-grid">
        {{#each fundamentalMetrics.otherStocks}}
          {{> stock-card}}
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>
